/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.dcu-row {
  margin: 20px 0 10px 0;
}

h5 {
  margin: 15px 10px 5px 10px;
}
