<div class="container">
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">DCU Playground</span>
  </nav>
  <div class="container card dcu-row">
    <div class="row">
      <h5>Student and Contact Verification</h5>
    </div>
    <div class="dcu-row" *ngIf="showProgress">
      <ngb-progressbar [type]="pType" [value]="pValue" height="1.5rem" [animated]="true" [striped]="true">
        {{pLabel}}
      </ngb-progressbar>
    </div>
    <form class="dcu-row">
      <div class="form-group">
        <label for="fInputS">Student CSV file:</label>
        <input class="form-control" id="fInputS" #fInputS type='file' (change)='readFile($event, "stu")'>
      </div>

      <div class="form-group">
        <label for="fInputP">Contact CSV file:</label>
        <input class="form-control" id="fInputP" #fInputP type='file' (change)='readFile($event, "par")'>
      </div>


      <!-- <div class="form-group">
        <label for="fInputSB">Student-Sibling CSV file:</label>
        <input class="form-control" id="fInputSB" #fInputSB type='file' (change)='readFile($event, "sib")'>
      </div>

      <div class="form-group">
        <label for="fInputSC">Student-Contact CSV file:</label>
        <input class="form-control" id="fInputSC" #fInputSC type='file' (change)='readFile($event, "sc")'>
      </div> -->
      ------------------------------------------------
      <div class="form-group" >
        <label for="fInputStaff">CMS Staff File</label>
        <input class="form-control" id="fInputStaff" #fInputStaff type='file' (change)='readFile($event, "cmsStaff")'>
      </div>
     ------------------------------------------------
      <div class="form-group" >
        <label for="fInputCms">Cms Master File</label>
        <input class="form-control" id="fInputCms" #fInputCms type='file' (change)='readFile($event)' multiple="multiple" >
      </div>
     


      <button class="btn btn-success" type="button" (click)="convertFile()">Convert</button> &nbsp; &nbsp;
      <button class="btn btn-success" type="button" (click)="reset()">Reset</button>
    </form>
  </div>
</div>
